mixin section-book(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .section-book(class=spec.__class)&attributes(attributes)
    h2.section-book__title Guest Book
    .section-book__content
      .section-book__buttons.col-12
        +button({__class:'section-book__button button--green', type:'text', text: 'Show All' })
        +button({__class:'section-book__button button--blue', type:'text', text: 'Add Guest' })
      +book({__class:'section-book__book col-12'})