{% raw %}
<!-- template for the modal component -->
<script type="text/x-template" id="modal-edit-template">
    <transition name="modal-edit">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            Enter data of Guest
                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            <table class="table table-striped">
                                <tbody>
                                <tr class="table-warning">
                                    <td>ID</td>
                                    <td><input v-model="message.id" readonly :placeholder=message.id></td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td><input v-model="message.name" :placeholder=message.name></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input v-model="message.email" :placeholder=message.email></td>
                                </tr>
                                </tbody>
                            </table>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button pull-left" @click="$emit('close')">
                                Close
                            </button>
                            <button class="modal-default-button pull-right" @click="editGuest(message);$emit('close')">
                                Send
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
{%  endraw %}